.content {
  display: flex;
  justify-content: space-around;
}

h1 {
  text-align: center;
}
.content-form {
  border: 1px solid black;
  width: 20%;
  padding: 10px;
}
.socketList {
  border: 1px solid black;
  width: 70%;
}
.content-form form input {
  display: block;
  margin-bottom: 30px;
  margin-top: 10px;
  height: 30px;
  font-size: 20px;
}

.content-form form label {
  font-size: 20px;
}

.content-form form button {
  cursor: pointer;
  font-size: 20px;
  padding: 10px 40px;
  border-radius: 10px;
  border: none;
  outline: none;
}
